In [13]:
import pandas as pd
import numpy as np
import quandl 
import datetime

In [3]:
quandl.ApiConfig.api_key = "WoQaLcrxL-Fzidkqjq3W"

In [6]:
df = quandl.get("WIKI/AAPL")
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
1980-12-12,28.75,28.87,28.75,28.75,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0
1980-12-15,27.38,27.38,27.25,27.25,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0
1980-12-16,25.37,25.37,25.25,25.25,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0
1980-12-17,25.87,26.00,25.87,25.87,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0
1980-12-18,26.63,26.75,26.63,26.63,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0

In [8]:
df = quandl.get("WIKI/AAPL.4")
df.head()

            Close
Date
1980-12-12  28.75
1980-12-15  27.25
1980-12-16  25.25
1980-12-17  25.87
1980-12-18  26.63

In [39]:
now = datetime.datetime.now()
now.strftime("%Y-%m-%d %H:%M")

mydate = datetime.datetime.now() - datetime.timedelta(days=1)
month = mydate.strftime("%m")
day = mydate.strftime("%d")
year = mydate.strftime("%Y")
end = print(year, month,"{:.0f}".format(int(day)), sep='-')
end

2018-10-18

In [40]:
start = datetime.datetime.now() - datetime.timedelta(days=3*365)
start.strftime("%Y-%m-%d %H:%M")

mydate = datetime.datetime.now() - datetime.timedelta(days=3*365)
month = mydate.strftime("%m")
day = mydate.strftime("%d")
year = mydate.strftime("%Y")
start = print(year, month,"{:.0f}".format(int(day)), sep='-')
start

2015-10-20

In [46]:
#Multiple datasets through one request
df = quandl.get(["WIKI/MSFT.4", "WIKI/AAPL.4"], start_date="2015-03-27", end_date="2018-03-27")
df.head()

            WIKI/MSFT - Close  WIKI/AAPL - Close
Date
2015-03-27             40.970             123.25
2015-03-30             40.960             126.37
2015-03-31             40.655             124.43
2015-04-01             40.720             124.25
2015-04-02             40.290             125.32